.modal-gallery {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 82%;
  width: 99%;
  border: 1px solid white;
  border-radius: 8px;
  justify-content: center;
  margin: 8px 8px 8px 8px;
}
.two-right-photo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 49.5%;
  max-height: 527px;
  margin-bottom: 8px;
  width: auto;
  height: auto;
  cursor: pointer;

}
.two-left-photo {
  display: inline-block;
  justify-content: center;
  align-items: center;
  max-width: 49.5%;
  max-height: 527px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 8px;
  width: auto;
  height: auto;
  cursor: pointer;

}
.three-left-photo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 32.8%;
  max-height: 379px;
  margin-right: 8px;
  margin-bottom: 8px;
  width: auto;
  height: auto;
  cursor: pointer;

}
.three-middle-photo {
  display: inline-flex;
  max-width: 32.8%;
  max-height: 379px;
  margin-right: 8px;
  margin-bottom: 8px;
  width: auto;
  height: auto;
  cursor: pointer;

}
.three-right-photo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 32.9%;
  max-height: 379px;
  margin-bottom: 8px;
  width: auto;
  height: auto;
  cursor: pointer;

}
.one-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 99.9%;
  margin-bottom: 8px;
  height: auto;
  width: auto;
  height: auto;
  cursor: pointer;

}